body {
    background: url('../imgs/GoodDoggo/happy_golden.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
}

#content {
    text-align: center;
    padding-top: 25%;
}

hr {
    width: 50%;
}